/*Importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*Limpar formatações padrão*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    background: #d9dee2;
}